extends /layout


block content
  main
    table.calendar
      caption.calendar__banner--month
        a(style='float:left').btn.btn-style-three.prev <
        h1 ...
        a(style='float:right').btn.btn-style-three.next >
      thead
        tr
          th.calendar__day__header Sun
          th.calendar__day__header Mon
          th.calendar__day__header Tues
          th.calendar__day__header Wed
          th.calendar__day__header Thurs
          th.calendar__day__header Fri
          th.calendar__day__header Sat
      tbody
        tr
          td.calendar__day__cell
          td.calendar__day__cell
          td.calendar__day__cell
          td.calendar__day__cell 1
          td.calendar__day__cell 2
          td.calendar__day__cell 3
          td.calendar__day__cell 4
        tr
          td.calendar__day__cell 5
          td.calendar__day__cell 6
          td.calendar__day__cell 7
          td.calendar__day__cell 8
          td.calendar__day__cell 9
          td.calendar__day__cell 10
          td.calendar__day__cell 11
        tr
          td.calendar__day__cell 12
          td.calendar__day__cell 13
          td.calendar__day__cell 14
          td.calendar__day__cell 15
          td.calendar__day__cell 16
          td.calendar__day__cell 17
          td.calendar__day__cell 18
        tr
          td.calendar__day__cell 19
          td.calendar__day__cell 20
          td.calendar__day__cell 21
          td.calendar__day__cell 22
          td.calendar__day__cell 23
          td.calendar__day__cell 24
          td.calendar__day__cell 25
        tr
          td.calendar__day__cell 26
          td.calendar__day__cell 27
          td.calendar__day__cell 28
          td.calendar__day__cell 29
          td.calendar__day__cell 30
          td.calendar__day__cell 31
          //- td.calendar__day__cell(data-bank-holiday="Good Friday") 31 Is a example
          td.calendar__day__cell