script(src='plugins/jquery.js')
script(src='plugins/bootstrap.min.js')
script(src='plugins/bootstrap-select.min.js')

//-  Slick Slider 
script(src="https://code.jquery.com/jquery-3.5.1.min.js")

unless process.env.NODE_ENV === 'production'
  script(src='/scripts/Reload.js')

//-  FancyBox 
//- script(src='plugins/fancybox/jquery.fancybox.min.js')

//-  Google Map 
//- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw')
//- script(src='plugins/google-map/gmap.js')

script(src='plugins/wow.js')
script(src='plugins/jquery-ui.js')
script(src='scripts/App.js')
//- script(src='plugins/validate.js')
//- script(src='plugins/timePicker.js')